@import 'bootstrap/scss/functions';

@function map-reverse($map) {
  $result: null;

  @if type-of($map) == 'map' {
    $keys: map.keys($map);
    $map-reversed: ();

    @for $i from length($keys) through 1 {
      $map-reversed: map.merge(
        $map-reversed,
        (
          list.nth($keys, $i): map.get($map, list.nth($keys, $i)),
        )
      );
    }

    @if type-of($map-reversed) == 'map' {
      $result: $map-reversed;
    } @else {
      @warn 'There was an error reversing the order of "#{$map}"';
    }
  } @else {
    @warn '"#{$map}" is not a valid map';
  }

  @return $result;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
